<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
  <tr>
  <td align="center">

  <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
  <tr>
  <td>
  <div style="
    width: 600px;
    background-color: #FFFFFF;
    border-radius: 6px;
    overflow: hidden;
  ">
    <div style="
      width: 100%;
      height: 80px;
      background-color: #3d5ca3;
    ">
      <img
        src="cid:logo"
        alt="logo"
        style="
          margin: 25px;
          height: 30px;
        "/>
    </div>
    <div style="
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      justify-items: center;
      padding-top: 15px;
    ">
      <img
        src="cid:senha"
        alt="redefinir-senha"
        style="width: 50%; margin: 0 150px;"
      />
    </div>
    <h4 style="
      text-align: center; 
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.5;
    ">
      ESQUECEU SUA SENHA?
    </h4>
    <p style="
      text-align: center; 
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.5;
    ">
      Olá, <%= nome %>
    </p>
    <p style="
      text-align: center; 
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.5;
    ">
      Recebemos uma solicitação para redefinir sua senha!
    </p>
    <p style="
      text-align: center; 
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.5;
    ">
      Se você não fez essa solicitação, apenas ignore este e-mail.
    </p>
    <p style="
      text-align: center; 
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.5;
    ">
      Caso contrário, por favor clique no botão abaixo para trocar sua senha:
    </p>
    <div style="
      width: 600px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    ">
      <a
        href="<%= url %>"
        style="
        width: 600px;
          text-decoration: none;
          text-align: center;
          padding: 14px 25px;
          margin: 14px 200px;
          display: inline-block;
          border: 2px solid #3d5ca3;
          border-radius: 6px;
          font-family: Arial, Helvetica, sans-serif;
          font-weight: 600;
          color: #3d5ca3;
        "
      >
        REDEFINIR SENHA
      </a>
    </div>
    <p style="
      text-align: center; 
      font-family: Arial, Helvetica, sans-serif;
      line-height: 1.5;
    ">
      O link de redefinição expira em <%= data_expiracao %> às <%= hora_expiracao %>h
    </p>
    <div style="
      width: 100%;
      height: 80px;
      position: relative;
      background-color: #3d5ca3;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    ">

    </div>
  </div>
</td>
</tr>
</table>

</td>
</tr>
</table>